<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Reeves ELementary School Digital Wall</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/superfish.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/fontello/css/fontello.css" rel="stylesheet">
    
    <!-- Toggle Switch -->
    <link rel="stylesheet" href="css/jquery.switch.css">
    <link href="check_radio/skins/square/aero.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
  
  <header>
    <div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <a href="index-2.html" id="logo">Learn</a>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
      <div class=" pull-right"><a href="login.html" class="button_top" id="login_top">Sign in</a> <a href="apply_2.html" class="button_top hidden-xs" id="apply">Apply now</a></div>
            <ul id="top_nav" class="hidden-xs">
                <li><a href="about_us.html">About</a></li>
                <li><a href="apply.html">Wizard Apply</a></li>
                <li><a href="register.html">Register</a></li>
            </ul>
    </div>
  </div>
</div>
</header><!-- End header -->

<nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="mobnav-btn"></div>
      <ul class="sf-menu">
        <li>
        <a href="#">Home</a>
        <div class="mobnav-subarrow">
        </div>
        
        </li>
        <li>
        <a href="#">Add </a>
        <div class="mobnav-subarrow">
        </div>
          <ul>
          <li><a href="/student">Student</a></li>
          <li><a href="#">Instructor</a></li>
                    <li><a href="#">Class</a></li>
          <li><a href="#">Test</a></li>
                    <li><a href="#">Test Date</a></li>
                    <li><a href="#">Grade Lavel</a></li>
                    <li><a href="#">Term</a></li>
                    <li><a href="#">Term Data</a></li>
        </ul>

        </li>


        <li><a href="#">Search</a></li>
        <li>
        <a href="#">Data</a>
        <div class="mobnav-subarrow"></div>
        
        
      </ul>
            
            <div class="col-md-4 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
            <form>
              <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"></span>
            </form>
          </div>
              </div><!-- End search -->
              
    </div>
  </div><!-- End row -->
</div><!-- End container -->
</nav>

<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Progress </strong>
    <div id="progressbar"></div>
    <div class="shadow"></div>
  </div><!-- end top-wizard -->
    
  <form name="example-1" id="wrapped" action="http://www.ansonika.com/learn/apply_send.php" method="POST" >
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          <h2 class="col-md-10">Edit Student's personal info</h2>
          <div class="col-md-6">
            <ul class="data-list">
              <li><div class="form-group"><input type="text" name="fullname" class="required form-control" placeholder="Full name"><span class="input-icon"><i class="icon-user"></i></span></div></li>
              <li><div class="form-group"><input type="text" name="Class & Division" class="required form-control" placeholder="Class & Division"><span class="input-icon"><i class="icon-user"></i></span></div></li>
              <li><div class="form-group"><input type="email" name="email" class="required form-control" placeholder="Your Email"><span class="input-icon"><i class="icon-email"></i></span></div></li>
            </ul>
          </div><!-- end col-md-6 -->
                    
          <div class="col-md-6">
                   
                        
            <ul class="data-list" style="margin:0; padding:0;">
                  <li><div class="form-group"><input type="text" name="phone2" class="required form-control" placeholder="Your phone number"><span class="input-icon"><i class="icon-phone"></i></span></div></li>
             
                  <li><div class="form-group"><input type="Username" name="Username" class="required form-control" placeholder="Username"><span class="input-icon"><i class="icon-user"></i></span></div></li>

                 <li><div class="form-group"><input type="password" name="password" class="required form-control" placeholder="Old Password"><span class="input-icon"><i class="icon-email"></i></span></div></li>
                <li><div class="form-group"><input type="password" name="password" class="required form-control" placeholder="New Password"><span class="input-icon"><i class="icon-email"></i></span></div></li>
             </ul>
         
                       
          </div><!-- end col-md-6 -->
        </div><!-- end row -->
                
      
      </div><!-- end step-->
            
      <div class="step row">
        <div class="col-md-12">
          <h3>Your preferences</h3>
                     <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
          
                    <ul class="data-list-2 clearfix">
            <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Management: Build a Business Plan"><label>Management: Build a Business Plan</label></li>
            <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Art: Impressionist "><label>Art: Impressionist </label></li>
            <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Litteratture: Poetry"><label>Litteratture: Poetry</label></li>
            <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Math: 12 Principles"><label>Math: 12 Principles</label></li>
          </ul>
        </div>
      </div><!-- end step -->
            
      <div class="step row">
        <div class="col-md-12">
          <h3>Additional message</h3>
                   <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
          <div class="form-group">
              <textarea rows="5" id="message_apply_1" name="message_apply_1" class="form-control" placeholder="Additional message" style="height:150px;"></textarea>
            </div>
        </div>
      </div><!-- end step -->
                        
      <div class="submit step" id="complete">
                      <i class="icon-check"></i>
            <h3>Apply complete! Thank you for you time.</h3>
            <button type="submit" name="process" class="submit">Submit your apply</button>
      </div><!-- end submit step -->
            
    </div><!-- end middle-wizard -->
        
    <div id="bottom-wizard">
      
      <button type="button" name="Submit" class="forward">Update </button>
    </div><!-- end bottom-wizard -->
  </form>
    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->

<footer>
<div class="container">
  <div class="row">

  </div>
</div>

<hr>

<div class="container" id="nav-footer">
  <div class="row text-left">
    <div class="col-md-3 col-sm-3">
      <h4>Browse</h4>
      <ul>
        <li><a href="prices_plans.html">Prices</a></li>
        <li><a href="courses_grid.html">Courses</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contacts.html">Contacts</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>Next Courses</h4>
      <ul>
        <li><a href="course_details_1.html">Biology</a></li>
        <li><a href="course_details_2.html">Management</a></li>
        <li><a href="course_details_2.html">History</a></li>
        <li><a href="course_details_3.html">Litterature</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>About Learn</h4>
      <ul>
        <li><a href="about_us.html">About Us</a></li>
        <li><a href="apply_2.html">Apply</a></li>
        <li><a href="#">Terms and conditions</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <ul id="follow_us">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class=" icon-google"></i></a></li>
      </ul>
      <ul>
        <li><strong class="phone">+0034 43244 44</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
        <li>Questions? <a href="#"><span class="__cf_email__" data-cfemail="97e6e2f2e4e3fef8f9e4d7f3f8faf6fef9b9f4f8fa">[email&nbsp;protected]</span><script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></a></li>
      </ul>
    </div><!-- End col-md-4 -->
  </div><!-- End row -->
</div>
<div id="copy_right">© 1998-2014</div>
</footer>

<div id="toTop">Back to top</div>

<!-- Modal About -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
sanctus, pro ne quod dicunt sensibus.</p>
<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
sanctus, pro ne quod dicunt sensibus.</p>
<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
sanctus, pro ne quod dicunt sensibus.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- JQUERY -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- Wizard-->
<script src="/js/jquery-ui-1.8.12.min.js"></script>
<script src="/js/jquery.wizard.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/check_radio/jquery.icheck.js"></script>

<!-- OTHER JS --> 
<script src="/js/superfish.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/assets/validate.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/wizard_func.js"></script>
<script src="/js/functions.js"></script>

<script src="/js/classie.js"></script>
<script src="/js/uisearch.js"></script>
<script>new UISearch( document.getElementById( 'sb-search' ) );</script>


  </body>
</html>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>LEARN - Courses, Education site template</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/superfish.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/fontello/css/fontello.css" rel="stylesheet">
    
    <!-- Toggle Switch -->
    <link rel="stylesheet" href="c/ss/jquery.switch.css">
    <link href="/check_radio/skins/square/aero.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
  
  <header>
    <div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <a href="index-2.html" id="logo">Learn</a>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
      <div class=" pull-right"><a href="login.html" class="button_top" id="login_top">Sign in</a> <a href="apply_2.html" class="button_top hidden-xs" id="apply">Apply now</a></div>
            <ul id="top_nav" class="hidden-xs">
                <li><a href="about_us.html">About</a></li>
                <li><a href="apply.html">Wizard Apply</a></li>
                <li><a href="register.html">Register</a></li>
            </ul>
    </div>
  </div>
</div>
</header><!-- End header -->

<nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="mobnav-btn"></div>
      <ul class="sf-menu">
        <li>
        <a href="#">Home</a>
        <div class="mobnav-subarrow">
        </div>
        <ul>
          <li><a href="index-2.html">LayerSlider version</a></li>
          <li><a href="index_2.html">Subscription version</a></li>
          <li><a href="index_3.html">With Ajax Search bar</a></li>
                    <li><a href="index_4.html">With Video</a></li>
        </ul>
        </li>
        <li>
        <a href="#">Course</a>
        <div class="mobnav-subarrow"></div>
        <ul>
                  <li><a href="courses_grid.html">Courses grid</a></li>
                    <li><a href="courses_list.html">Courses list</a></li>
          <li><a href="course_details_1.html">Course details v1</a></li>
          <li><a href="course_details_2.html">Course details v2</a></li>
                    <li><a href="course_details_3.html">Course details v2</a></li>
                    <li><a href="course_timeline.html">Course timeline</a></li>
        </ul>
        </li>
        <li><a href="prices_plans.html">Prices &amp; Plans</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li>
        <a href="#">Pages</a>
        <div class="mobnav-subarrow"></div>
        <ul>
          <li><a href="about_us.html">About us</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="blog_post.html">Blog post</a></li>
          <li><a href="course_timeline.html">Timeline</a></li>
                    <li><a href="apply.html">PHP working wizard apply</a></li>
                    <li><a href="apply_2.html">PHP working apply</a></li>
                    <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
        </ul>
        </li>
        <li><a href="contacts.html">Contacts</a></li>
      </ul>
            
            <div class="col-md-4 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
            <form>
              <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"></span>
            </form>
          </div>
              </div><!-- End search -->
              
    </div>
  </div><!-- End row -->
</div><!-- End container -->
</nav>

<section id="wizard_bg">
<div class="container">
<!-- Start Survey container -->
<div id="survey_container">


  <div id="top-wizard">
    <strong>Progress </strong>
    <div id="progressbar"></div>
    <div class="shadow"></div>
  </div><!-- end top-wizard -->
    
 <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          <h2 class="col-md-10">Edit Student's personal info</h2>
          <div class="col-md-6">
            <ul class="data-list">
              <div class="form-group">
                <%= f.text_field :full_name, autofocus: true, :class => "form-control required", :placeholder => "Student Full Name" %>
          
          <span class="input-icon"><i class=" icon-user"></i></span>
        </div>
                <div class="form-group">
                  <%= f.text_field :class_name, autofocus: true, :class => "form-control required", :placeholder => "Class Name" %>
          
          <span class="input-icon"></span>
        </div>
                <div class="form-group">
                  <%= f.text_field :phone, autofocus: true, :class => "form-control required", :placeholder => "Phone/Mobile Number" %>
          
          <span class="input-icon"></i></span>
        </div>
        
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, :class => "form-control required", :placeholder => "Email" %>
          
          <span class="input-icon"><i class="icon-email"></i></span>
        </div>
        <div class="form-group">
         <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class =>" form-control required", :id=>"password1", :placeholder =>"Password" %>
          
          <span class="input-icon"><i class=" icon-lock"></i></span>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => " form-control required", :id =>"password2", :placeholder =>"Confirm password" %>
          
          <span class="input-icon"><i class=" icon-lock"></i></span>
        </div>

         <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /><%= f.password_field :current_password, autocomplete: "off" , :class => " form-control required", :id =>"password2", :placeholder =>"Current password" %>
          
          <span class="input-icon"><i class=" icon-lock"></i></span>
        </div>
                <div id="pass-info" class="clearfix"></div>
                <%= f.submit "Update", :class => "button_fullwidth" %>
        
      <% end %>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>
          </div><!-- end col-md-6 -->





                    
         
        </div><!-- end row -->
    
      </div>          
      </div><!-- end step-->
            
      <div class="step row">
        <div class="col-md-12">
          <h3>Your preferences</h3>
                     <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
          
                    <ul class="data-list-2 clearfix">
            <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Management: Build a Business Plan"><label>Management: Build a Business Plan</label></li>
            <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Art: Impressionist "><label>Art: Impressionist </label></li>
            <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Litteratture: Poetry"><label>Litteratture: Poetry</label></li>
            <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Math: 12 Principles"><label>Math: 12 Principles</label></li>
          </ul>
        </div>
      </div><!-- end step -->
            
      <div class="step row">
        <div class="col-md-12">
          <h3>Additional message</h3>
                   <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
          <div class="form-group">
              <textarea rows="5" id="message_apply_1" name="message_apply_1" class="form-control" placeholder="Additional message" style="height:150px;"></textarea>
            </div>
        </div>
      </div><!-- end step -->
                        
      <div class="submit step" id="complete">
                      <i class="icon-check"></i>
            <h3>Apply complete! Thank you for you time.</h3>
            <button type="submit" name="process" class="submit">Submit your apply</button>
      </div><!-- end submit step -->
            
    </div><!-- end middle-wizard -->
        
   

    
</div><!-- end Survey container -->

</div>
</section><!-- end section main container -->

<footer>
<div class="container">
  <div class="row">

  </div>
</div>

<hr>

<div class="container" id="nav-footer">
  <div class="row text-left">
    <div class="col-md-3 col-sm-3">
      <h4>Browse</h4>
      <ul>
        <li><a href="prices_plans.html">Prices</a></li>
        <li><a href="courses_grid.html">Courses</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contacts.html">Contacts</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>Next Courses</h4>
      <ul>
        <li><a href="course_details_1.html">Biology</a></li>
        <li><a href="course_details_2.html">Management</a></li>
        <li><a href="course_details_2.html">History</a></li>
        <li><a href="course_details_3.html">Litterature</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <h4>About Learn</h4>
      <ul>
        <li><a href="about_us.html">About Us</a></li>
        <li><a href="apply_2.html">Apply</a></li>
        <li><a href="#">Terms and conditions</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </div><!-- End col-md-4 -->
    <div class="col-md-3 col-sm-3">
      <ul id="follow_us">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class=" icon-google"></i></a></li>
      </ul>
      <ul>
        <li><strong class="phone">+0034 43244 44</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
        <li>Questions? <a href="#"><span class="__cf_email__" data-cfemail="97e6e2f2e4e3fef8f9e4d7f3f8faf6fef9b9f4f8fa">[email&nbsp;protected]</span><script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></a></li>
      </ul>
    </div><!-- End col-md-4 -->
  </div><!-- End row -->
</div>
<div id="copy_right">© 1998-2014</div>
</footer>

<div id="toTop">Back to top</div>

<!-- Modal About -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
sanctus, pro ne quod dicunt sensibus.</p>
<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
sanctus, pro ne quod dicunt sensibus.</p>
<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum 
sanctus, pro ne quod dicunt sensibus.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- JQUERY -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.8.12.min.js"></script>
<script src="/js/jquery.wizard.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/check_radio/jquery.icheck.js"></script>
<script src="/js/superfish.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/assets/validate.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/wizard_func.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/uisearch.js"></script>
<script>new UISearch( document.getElementById( 'sb-search' ) );</script>


  </body>
</html>
