<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>
  	<meta charset="utf-8">
    <title>Reeves Elementary School Digital Wall</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/superfish.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/fontello/css/fontello.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    

  </head>
  <body>
  
  <header>
   <center> <a href="/index"><h2>Reeves Elementary School Digital Wall</h2></center>
  	<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<a href="index-2.html" id="logo">Learn</a>
		</div>
		<div class="col-md-9 col-sm-9 col-xs-9">
			<div class=" pull-right"><a href="../users/sign_in" class="button_top" id="login_top">Sign in</a> 
           
		</div>
	</div>
</div>
</header><!-- End header -->

<nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li>
				<a href="#" onClick = "alert('You have to login first')">Home </a>
				<div class="mobnav-subarrow">
				</div>
				
				</li>
				<li>
				<a href="#" >Add </a>
				<div class="mobnav-subarrow">
				</div>
					<ul>
					<li><a href="/student" >Student</a></li>
					<li><a href="/instructor" >Instructor</a></li>
                    <li><a href="/class" >Class</a></li>
					<li><a href="/test" >Test</a>
					
					<ul>
                    <li><a href="#" >Test Data</a></li>
                    </ul>
                    </li>
                    <li><a href="#" >Grade Lavel</a></li>
                    <li><a href="/term" >Term</a>
                    
						<ul>
                    	<li><a href="/termdeta" >Term Data</a>
                    	</ul>
                    </li>
				</ul>

				</li>


				<li><a href="#" onClick = "alert('You have to login first')">Search</a></li>
				<li>
				<a href="#" onClick = "alert('You have to login first')">Data</a>
				<div class="mobnav-subarrow"></div>
				
				
			</ul>
            
            <div class="col-md-4 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"></span>
						</form>
					</div>
              </div><!-- End search -->
              
		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>
<section id="login_bg">
<div  class="container">
<div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div id="login">
			<p class="text-center">
				<img src="/img/login_logo.png" alt="">
			</p>
			<hr>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  			<%= devise_error_messages! %>
            <div class="form-group">
            		<%= f.text_field :full_name, autofocus: true, :class => "form-control required", :placeholder => "Faculty First Name" %>
					
					<span class="input-icon"><i class=" icon-user"></i></span>
				</div>
                <div class="form-group">
                	<%= f.text_field :class_name, autofocus: true, :class => "form-control required", :placeholder => " Faculty Last Name" %>
					
					<span class="input-icon"></span>
				</div>
                <div class="form-group">
                	<%= f.text_field :phone, autofocus: true, :class => "form-control required", :placeholder => "Cellphone Number" %>
					
					<span class="input-icon"></i></span>
				</div>
				
				<div class="form-group">
					<%= f.email_field :email, autofocus: true, :class => "form-control required", :placeholder => "Email" %>
					
					<span class="input-icon"><i class="icon-email"></i></span>
				</div>
				<div class="form-group">
					<% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br/>
					<%= f.password_field :password, autocomplete: "off", :class =>" form-control required", :id=>"password1", :placeholder =>"Password" %>
				</div>
				<div class="form-group">
					<%= f.password_field :password_confirmation, autocomplete: "off", :class => " form-control required", :id =>"password2", :placeholder =>"Confirm password" %>
					
					<span class="input-icon"><i class=" icon-lock"></i></span>
				</div>
                <div id="pass-info" class="clearfix"></div>
                <%= f.submit "Create an account", :class => "button_fullwidth" %>
				
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
</div>
</section><!-- End register -->

<footer>


<div class="container" id="nav-footer">
	<div class="row text-left">
		<div class="col-md-3 col-sm-3">
			<h4>Browse</h4>
			<ul>
				<li><a href="prices_plans.html">Prices</a></li>
				<li><a href="courses_grid.html">Courses</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contacts.html">Contacts</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>Next Courses</h4>
			<ul>
				<li><a href="course_details_1.html">Biology</a></li>
				<li><a href="course_details_2.html">Management</a></li>
				<li><a href="course_details_2.html">History</a></li>
				<li><a href="course_details_3.html">Litterature</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>About Learn</h4>
			<ul>
				<li><a href="about_us.html">About Us</a></li>
				<li><a href="apply_2.html">Apply</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="register.html">Register</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul id="follow_us">
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class=" icon-google"></i></a></li>
			</ul>
			<ul>
				<li><strong class="phone">+0034 43244 44</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
				<li>Questions? <a href="#"><span class="__cf_email__" data-cfemail="c0b1b5a5b3b4a9afaeb380a4afada1a9aeeea3afad">[email&nbsp;protected]</span><script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></a></li>
			</ul>
		</div><!-- End col-md-4 -->
	</div><!-- End row -->
</div>
<div id="copy_right">© 1998-2014</div>
</footer>

<div id="toTop">Back to top</div>

<!-- JQUERY -->
<script src="/js/jquery-1.10.2.min.js"></script>
<!-- OTHER JS --> 
<script src="/js/superfish.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/pw_strenght.js"></script>
<script src="/assets/validate.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/uisearch.js"></script>
<script>new UISearch( document.getElementById( 'sb-search' ) );</script>

  </body>
</html>
