<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>
  	<meta charset="utf-8">
    <title>LEARN - Courses, Education site template</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/superfish.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="fontello/css/fontello.css" rel="stylesheet">
    

  </head>

  <body>

  <header>
  <center> <a href="/index"><h2>Reeves Elementary School Digital Wall</h2></center>
  	<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<a href="index-2.html" id="logo">Learn</a>
		</div>
		
	</div>
</div>
</header><!-- End header -->

<nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="mobnav-btn"></div>
			<ul class="sf-menu">
				<li>

				<a href="/index" >Home </a>

				<div class="mobnav-subarrow">
				</div>

				</li>
				<li>
				<a href="#" >Add </a>
				<div class="mobnav-subarrow">
				</div>
					<ul>
					<li><a href="/student" >Student</a></li>
					<li><a href="/instructor" >Instructor</a></li>
                    <li><a href="/class" >Class</a></li>
					<li><a href="/test" >Test</a>
					
					<ul>
                    <li><a href="/testdata" >Test Data</a></li>
                    </ul>
                    </li>
                    <li><a href="/grade_level" >Grade Level</a></li>
                    <li><a href="/term" >Term</a>
                    
						<ul>
                    	<li><a href="/termdeta" >Term Data</a>
                    	</ul>
                    </li>
				</ul>

				</li>


				<li><a href="#" >Search</a></li>
				<li>
				<a href="#" >Data</a>
				<div class="mobnav-subarrow"></div>


			</ul>

            
            <div class="col-md-4 pull-right hidden-sm hidden-xs">
                    <div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"></span>
						</form>
					</div>
              </div><!-- End search -->
              
		</div>
	</div><!-- End row -->
</div><!-- End container -->
</nav>


<section id="main_content" >
<div class="container">
<div class="row">
<div align="center">
    
	<div class="col-md-8">
		<div class=" box_style_2">
			<span class="tape"></span>
			<div class="row">
				<div class="col-md-12">
					<h3>Add Student info</h3>
				</div>
			</div>
        	<div id="message-apply"></div>
			<form method="post" action="http://www.ansonika.com/learn/assets/apply_2.php" id="contactform_apply">
				<div class="row">
							<div class="form-group">
                              <ul class="data-list floated clearfix">
								<li id="age"><input type="text" name="ID" class="required form-control" placeholder="ID"></li>
						</ul>
				
                    </div>
				
						<div class="form-group">
							<input type="text" class="form-control style_2" id="firstname_apply" name="firstname_apply" placeholder="First Name">
						</div>
					
                  
						<div class="form-group">
							<input type="text" class="form-control style_2" id="lastname_apply" name="lastname_apply" placeholder="Lst Name">
						</div>
				
                   
						<div class="form-group">
							<input type="text" class="form-control style_2" id="dob_apply" name="dob_apply" placeholder="Date of Birth">
						</div>
				
			
		
					
						<div class="form-group">
							<input type="email" id="email_apply" name="email_apply" class="form-control style_2" placeholder="Enter Email">
                            <span class="input-icon"><i class="icon-email"></i></span>
						</div>
				

				</div>

				<!DOCTYPE html>
<html>

<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>



                

                <div class="row">
                <div class="col-md-6 col-sm-6">
                		<div class="form-group">
						<div class="styled-select">
								<select class="form-control" name="tier_apply" id="tier_apply">
									<option value="" selected>Select the Tier level</option>
									<option value="Tier 1">Tier 1</option>
									<option value="Tier 2">Tier 2</option>
                                    <option value="Tier 3">Tier 3</option>

								</select>
							</div>
                            </div>
					</div>
						<div class="col-md-6 col-sm-6">
						<div class="form-group">
						  <ul class="data-list floated clearfix">
							<li id="age"><input type="text" name="age" class="required form-control" placeholder="Age"></li>
						</ul>
						</div>
						 <div >
  						 <button type="button" class="backward" >Add</button>

 						 </div>
					</div>
				</div>
                
                <table style="width:100%">
  <tr>
    <th>First name</th>
    <th>Last name</th>		
    <th>Age</th>
    <th>Language</th>
  </tr>
  <tr>
    <td>heamant</td>
    <td>patil</td>		
    <td>23</td>
    <td>hindi</td>
  </tr>
  <tr>
    <td>vicky</td>
    <td>patil</td>		
    <td>26</td>
    <td>english</td>
  </tr>
  <tr>
    <td>Dhiraj</td>
    <td>patil</td>		
    <td>24</td>
    <td>marathi</td>
  </tr>
  <tr>
  	<td>vicky</td>
  	<td>patil</td>
  	<td>476</td>
  	<td>english</td>
  </tr>	
</table>



					</div>
				</div>
				</div>
                


                </div>
			</form>
		</div>
	</div>
</div>
</div>
</section>


<footer>


<hr>

<div class="container" id="nav-footer">
	<div class="row text-left">
		<div class="col-md-3 col-sm-3">
			<h4>Browse</h4>
			<ul>
				<li><a href="prices_plans.html">Prices</a></li>
				<li><a href="courses_grid.html">Courses</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contacts.html">Contacts</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>Next Courses</h4>
			<ul>
				<li><a href="course_details_1.html">Biology</a></li>
				<li><a href="course_details_2.html">Management</a></li>
				<li><a href="course_details_2.html">History</a></li>
				<li><a href="course_details_3.html">Litterature</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<h4>About Learn</h4>
			<ul>
				<li><a href="about_us.html">About Us</a></li>
				<li><a href="apply_2.html">Apply</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="register.html">Register</a></li>
			</ul>
		</div><!-- End col-md-4 -->
		<div class="col-md-3 col-sm-3">
			<ul id="follow_us">
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class=" icon-google"></i></a></li>
			</ul>
			<ul>
				<li><strong class="phone">+0034 43244 44</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
				<li>Questions? <a href="#"><span class="__cf_email__" data-cfemail="d9a8acbcaaadb0b6b7aa99bdb6b4b8b0b7f7bab6b4">[email&nbsp;protected]</span><script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></a></li>
			</ul>
		</div><!-- End col-md-4 -->
	</div><!-- End row -->
</div>
<div id="copy_right">© 1998-2014</div>
</footer>

<div id="toTop">Back to top</div>

<!-- JQUERY -->
<script src="js/jquery-1.10.2.min.js"></script>

<!-- OTHER JS --> 
<script src="js/superfish.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="assets/validate.js"></script>
<script src="js/jquery.placeholder.js"></script>
<script src="js/functions.js"></script>

<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/mapmarker.jquery.js"></script>
<script type="text/javascript" src="js/mapmarker_func.jquery.js"></script>

  </body>
</html>